<div class="container">
	<h1 class="content"> Sign Up </h1>
	<%= render partial: 'form' %>
	<p class="content">
		<%= link_to "Sign in", new_session_path, method: :get, style: 'color:#FFF;'  %>
	</p>
</div>
