<div class="events">
  <h2>
    <% if @current_user == @user %>
      Your Events
    <% else %>
      Events by <%= @user.username %>
    <% end %>
  </h2>
  <% if @events.any? %>
    <% @events.each do |event| %>
      <h5><%= link_to event.description, event, class: "links" %></h5>
    <% end %>
  <% else %>
    <h5>No Events Created </h5>
  <% end %>
</div>

<div class="events">
  <h2>Upcoming Events</h2>
  <% if @upcoming_events.any? %>
    <% @upcoming_events.each do |event| %>
      <h5><%= link_to event.description, event, class: "links" %></h5>
    <%end%>
  <% else %>
    <h5>No Upcoming Events  </h5>
  <%end%>
</div>

<div class="events">
  <h2>Previous Events</h2>
  <% if @previous_events.any? %>
    <% @previous_events.each do |event| %>
      <h5><%= link_to event.description, event, class: "links" %></h5>
    <%end%>
  <% else %>
    <h5>No Previous Events </h5>
  <%end%>
</div>
