
 .container{
	align:center;	
	margin:150px;
	display:inline-block;
	width: 400px;
	background-image: url(back.png);
	border-radius: 10px;
	background-size: cover;
	padding:15px;
}
.content{
	margin: 10px;
	color: white;
}